<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.andrehaueisen.fitx"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-feature android:name="android.hardware.camera"/>

    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <permission
        android:name="com.example.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>

    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE"/>

    <!-- ATTENTION - WHEN POSSIBLE CHANGE THIS LINE FOR android:name=".PersonalApplication" -->
    <application
        android:name=".PersonalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_application_id"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB3JLmgQQs9ZA9Iy8NOlsGRcvfwnLMgyo0"/>

        <activity android:name=".register.RegisterClientOrPersonalActivity">
        </activity>
        <activity
            android:name=".register.SignInActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".personal.PersonalActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".client.ClientActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.andrehaueisen.fitx.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <activity android:name=".client.PersonalBoothActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".client.ClientActivity"/>
        </activity>

        <activity android:name=".client.ReviewPersonalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".client.ClientActivity"/>
        </activity>

        <service android:name=".personal.services.ClassUpdateListenerService"/>
        <service android:name=".client.services.ClassUpdateListenerService"/>

        <activity
            android:name=".personal.drawer.ProfessionalProfileActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.andrehaueisen.fitx.personal.PersonalActivity"/>
        </activity>

        <activity
            android:name=".personal.drawer.ScheduleArrangementActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".personal.drawer.PersonalReviewsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.andrehaueisen.fitx.personal.PersonalActivity"/>
        </activity>

        <activity android:name=".client.drawer.ClientProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.andrehaueisen.fitx.client.ClientActivity"/>
        </activity>

        <activity android:name=".client.search.PersonalSearchActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".client.ClientActivity"/>

        </activity>


        <!--
        <service android:name=".personal.services.TokenRefreshListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service android:name=".personal.services.NewClassMessageService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>-->

        <!--
        <activity android:name=".personal.MockActivity"
                  android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        -->
    </application>

</manifest>